version: '3.5'

services:
  pool-weth:
    build:
      context: .
    container_name: dusa-auto-pool-weth
    volumes:
      - ./src:/src
    env_file:
      - .env.weth

  pool-usdc:
    build:
      context: .
    container_name: dusa-auto-pool-usdc
    volumes:
      - ./src:/src
    env_file:
      - .env.usdc
